.logo{
    width: 200px;
    margin: auto;
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px;

}

.button-md-primary {
    color: #fff;
    padding: 23px 7.1em;
    background-color: #39bfe1;
}